{% load static %}
<link rel="stylesheet" href="{% static '/css/_navbar.css' %}">
<header class="header">
    <div id="hamburger-icon" onclick="toggleMobileMenu(this)">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <ul class="mobile-menu">
          <li>                  
              <a href="{% url 'home'%}">
                <img src="static/img/home_white.svg">Home                     
                </a>
            </li>
            <li>                  
                <a href="{% url 'blogs' %}">
                  <img src="static/img/home_white.svg">  
                  Blogs</a>
              </li>
              <li>                  
                <a href="{% url 'info'%}">
                  <img class="info-img" src="static/img/info.svg">
                  About</a>
              </li>
        </ul>
      </div>
    <div class="left-section">
        <a class="logo" href="{% url 'home'%}">
            <img src="{% static '/img/logo.svg' %}">
        </a>
    </div>
    <div class="middle-section">        
        <form action="{% url 'searchBox' %}" method="get">
            <input name="search" class="search-bar" type="text" placeholder="Search">
            <button id="search-button" type= "submit" class="search-button">  
                <img class="search-bar-icon" src="{% static '/img/search.svg' %}">
            </button>
        </form>
    </div>
    <div id="nav-container" class="right-section">
        <a class="nav active" href="{% url 'home'%}">
            <img title="Home" class="home-icon" src="{% static '/img/home_white.svg' %}">
            Home
        <a class="nav " href="{% url 'blogs'%}">
            <img title="Home" class="home-icon"src="{% static '/img/home_white.svg' %}">
            Blogs                    
        </a> 
        <a class="nav " href="{% url 'info'%}">
            <img title="Home" class="info-pic"src="{% static '/img/info.svg' %}">                    
            About
        </a> 
        <a href="javascript:void(0);" class="icon" onclick="myFunction()">
            <i class="fa fa-bars"></i>
          </a>
    </div>
    <script>
        function toggleMobileMenu(menu) {
            menu.classList.toggle('open');
        }
    </script>
      
      
</header>

