{%extends "base.html" %}
{% load static %}
{% block title %} Blogs {%endblock%}

{%block content%} 
            {% include 'partials/_sidebar.html' %}    
            <h1 style= " height: 10px; 
            width: 100%;
            text-align: center;
            font-size: 40px;
            font-weight: 900;
            color:white;    
            margin-bottom: 15px;
            margin-top:10px">BLOGS</h1>  
            {% if blogs|length > 0 %}
                {% for blog in blogs %}
                    {% include 'blog/partials/_blog.html' %}
                {% endfor %}
            {% else %}
                <div class="alert alert-warning">No blogs</div>
            {% endif %}
        </div>
    </div>
</div>

{%endblock%}