{%extends "base.html" %}
{% load static %}
{% block css_files %} 
<link rel="stylesheet" href="{% static '/css/blog_details.css' %}">
{% endblock %}
{% block title %} Blogs Details {%endblock%}

{%block content%} 
{% include 'partials/_sidebar.html' %}


<div class="card">
    <div class="blog-title">{{blog.title}}</div>
    <div class="img-row">
        <img src="{{blog.image.url}}">
    </div>
    <div class="content-row">{{blog.description|safe}}</div> 
</div>





{% comment %} 
<div class="container mt-3">
    
    <div class="row">
        
        <div class="col-12">
            
            <div class="card text-white bg-dark mb-3">
                <div class="row">
                    <div class="col-md-3">
                        <img src="{{blog.image.url}}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9">
                        <div class="card-body ">
                            <h5 class="card-title">
                                {{blog.title}}
                            </h5>
                            <p class="card-text"> {{blog.description|safe}}</p>
                        </div>
                    </div>
                </div>
                
            </div>
                     

        </div>
    </div>
</div> {% endcomment %}

{%endblock%}