{% extends "base.html" %}
{% load static %}
{% block css_files %}
<link rel="stylesheet" href="{% static 'css/style.css'%}">

{% endblock %}

{% block title %}Homepage{% endblock %}

{% block content %}


            {% include 'partials/_sidebar.html' %}
       
            

            {% for blog in blogs %}
                {% if blog.is_home %}
                    {% include 'blog/partials/_blog.html' %}
                {% endif %}
            {% endfor %}

        </div>
    </div>
</div>
 {% endblock %}

 {% block js_files %}
    <script src="{% static 'js/script.js' %}"></script> 
{% endblock %}